<div class="container">
  <div class="row my-5">
    <div class="col-md-4">
      <p>Сторінка: {{ page.number }}/{{ posts.paginator.num_pages }}</p>
      <nav aria-label="Навігація по сторінкам">
        <ul class="pagination">
          {% if page.has_previous %}
            <li class="page-item {% if page.has_previous %} {% else %} disabled {% endif %}">
            <a class="page-link" href="{% url 'blog:post_list' %}?page={{ page.previous_page_number }}">Попередня</a>
          {% endif %}
          </li>
          {% for num_pages in page.paginator.page_range %}
            <li class="page-item {% if num_pages == page.number %} active {% endif %}" aria-current="page">
              <a class="page-link">{{ num_pages }}</a>
            </li>
          {% endfor %}
          {% if page.has_next %}
            <li class="page-item {% if page.has_next %} {% else %} disabled {% endif %}">
            <a class="page-link" href="{% url 'blog:post_list' %}?page={{ page.next_page_number }}">Наступна</a>
          {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
